<p>administrativni-meni works!</p>
<input [(ngModel)]="admpretraga" placeholder="pretraga ovde"><br>
<button (click)="Autopretraga()">Trazi</button>
<div class="row">
    <div class="col-md-5">
        <ul class="list-group">
            <li *ngFor="let dish of filteredDishes" class="list-group-item" >
                <div *ngIf="dish">
                    <p>
                        
                        ..................................{{dish.id}}---->
                        <button (click)="OnClickObrisi(dish)">obrisi</button><br>
                        ..................................{{dish.name}}<br>
                        ..................................{{dish.type}}<br>
                        ..................................{{dish.price}}<br>
                        <img [src]="dish.imageUrl" width=180 height=130> 
                    </p>
                </div>
            </li>
        </ul>
    </div>
    <div class="col-md-7">
            <app-dish-input></app-dish-input>
    </div>
</div>
